.scale-1
{
	-webkit-transform:scale(0.7,0.7) !important;
	-moz-transform:scale(0.7,0.7);
	-ms-transform:scale(0.7,0.7);
	-o-transform:scale(0.7,0.7);
	transform:scale(0.7,0.7);
}

.scale0
{
	-webkit-transform:scale(0.8,0.8) !important;
	-moz-transform:scale(0.8,0.8);
	-ms-transform:scale(0.8,0.8);
	-o-transform:scale(0.8,0.8);
	transform:scale(0.8,0.8);
}

.scale1
{
	-webkit-transform:scale(1,1) !important;
	-moz-transform:scale(1,1);
	-ms-transform:scale(1,1);
	-o-transform:scale(1,1);
	transform:scale(1,1);
}

.scale2
{
	-webkit-transform:scale(2,2) !important;
	-moz-transform:scale(2,2);
	-ms-transform:scale(2,2);
	-o-transform:scale(2,2);
	transform:scale(2,2);
}

.scale3
{
	-webkit-transform:scale(3,3) !important;
	-moz-transform:scale(3,3);
	-ms-transform:scale(3,3);
	-o-transform:scale(3,3);
	transform:scale(3,3);
}

.scale4
{
	-webkit-transform:scale(4,4) !important;
	-moz-transform:scale(4,4);
	-ms-transform:scale(4,4);
	-o-transform:scale(4,4);
	transform:scale(4,4);
}