.spannerDiv {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px #666;
    width: auto;
}

.infoBox {
    border-style: solid;
    border-color: #666666;
    border-width: 3px;
    border-radius: 5px;
    margin-bottom: 16px;
    padding: 12px;
    box-shadow: 0px 5px 12px #666;
}

.headerText{
    font-family: "Gill Sans";
    margin-bottom: 2px;
}

.headerText:first-letter {
    font-size: 2em;
}

.inner p {
    margin-left: 20px;
}