@font-face { font-family: HeaderFont; src: url('text.ttf'); } 
@font-face { font-family: TextFont; src: url('text2.ttf'); } 

/* ------------ MISC ------------ */

.hidden{ 
  display:none; 
}

.visible{ 
  display:block; 
}

/* ------------ GENERAL ------------ */

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
  font-family: 'HeaderFont', sans-serif;
  font-size: 16px;
}

/* ------------ NAVIGATION ------------ */

@media (max-width:767px){
  .navigation {
    display: none;
  }
}
@media (min-width:768px){
  .navigation {
    position: absolute; 
    width:    200px; 
    height:   100%; 
    left:     0px;
    background-color: #EEEEEE;
    overflow-y:auto;
    overflow-x:auto;
    border-right: 1px solid #a8a8a8;
  }
}

.navigationBar { 
  position:absolute; 
  top:    50%; 
  height: 300px; 
  width: 200px;
  margin-top: -150px  !important;

  text-align: center;
  margin: 0;
  padding: 0;
}

.navigationBar li {
  -webkit-transition:all 1s;
  -moz-transition:all 1s;
  -ms-transition:all 1s;
  -o-transition:all 1s;
  transition: all 1s;

  font-family:    'HeaderFont', sans-serif;
  font-size:      26px;
  list-style:     none;

  margin-bottom: 10px;

  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.navigationBar li:hover{
  background-color: #a8a8a8;
  
  border-bottom: 1px solid #a8a8a8;
  border-top: 1px solid #a8a8a8;
}

.navigationBar li:hover a {
  color: white;
}

.navigationBar li:first-child{
  margin-top: 20px;
}

.navigationBar li a {
  color:        #2c2c2c;
  font-weight:  normal;
  text-decoration: none;
  text-transform: uppercase;
}

/* ------------ CONTENT ------------ */

@media (max-width:767px){
  .content {
    position: absolute;  
    height:   100%; 
    left:      10px;
    right:     10px;
    overflow-y:auto;
    overflow-x:auto;
  }
}
@media (min-width:768px){
  .content {
    position: absolute;  
    height:   100%; 
    left:     210px;
    right:     10px;
    overflow-y:auto;
    overflow-x:auto;
  }
}

.content_block{
  max-width: 700px;
  margin: 0 auto;
}

.content h1 {
  color: #36a0c5;
  font-size: 42px;

  text-align: center;
  line-height: 32px;
  font-weight: normal;

  padding: 6px;
  margin: 24px 0px;
  font-family: 'HeaderFont', sans-serif;
  text-transform: uppercase;

  border-bottom: 1px solid #a8a8a8;
}


/* ------------ SHORTLINKS ------------ */

#shortLinksBarP{
  height: 90px;
}

#shortLinksBar{
  margin: 24px auto;
  width: 600px;
}

#shortLinksBar li {
  list-style: none;
  float: left;
}

#shortLinksBar li a {
}

#shortLinksBar li a img {
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
  -ms-transition:all 0.5s;
  -o-transition:all 0.5s;
  transition: all 0.5s;

  width: 64px;
  height: 64px;
  margin-left: 4px;
  margin-right: 4px;
}

#shortLinksBar li a img:hover {
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 4px #666;
  -moz-box-shadow: 0px 2px 4px #666;
  box-shadow: 0px 2px 4px #666;  
}

/* ------------ NEWS ------------ */

.newsDate {
  border: 2px solid #36a0c5;
  color:            #36a0c5;
  border-radius: 16px;
  margin-left: 40px;
  margin-right: 10px;
  width: 150px;
  text-align: center !important;
  text-transform: capitalize;

  float: left;
  clear: both;
}

.newsTitle{
  width: 550px;
  height: 34px;
  padding-top: 3px;
  white-space: nowrap;
  font-family: "TextFont";
}

.newsTitle, .newsDate{
  font-size: 22px;
  margin-bottom: 6px;
  text-align: left;
}

/* ------------ MANUAL ------------ */

.manualsEntry{
  text-align: center;
  font-size: 18px; 
  font-family: "TextFont"; 
}

/* ------------ RELEASE ------------ */

.release_controls {
  text-align: center;
  height: 30px;
}

.release_controls a {
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
  -ms-transition:all 0.5s;
  -o-transition:all 0.5s;
  transition: all 0.5s;
  
  text-decoration: none;

  padding: 4px;
  border: 2px solid #36a0c5;
  color:            #36a0c5;
  width: 150px;
}

.release_controls a:hover {
  background-color: #36a0c5;
  color:            white;
}

.release_controls .left {
  padding-left: 10px;
  border-right: none;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.release_controls .right {
  padding-right: 10px;
  border-left: none;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px; 
}

.releaseHeader {
  margin-top: 12px;
  font-size: 18px;
  text-align: center;
}

.releaseHeader .version {
  font-weight: bold;
  font-size: 22px;
}

.releaseText{

  font-family: "TextFont";
  font-size: 18px;
}

.releaseImage {
  margin-top: 12px;
  text-align: center;
}

.releaseImage img {
  width: 640px;
  height: 480px;
  border: 1px solid #000000;
  -webkit-box-shadow: 0px 1px 5px #666;
     -moz-box-shadow: 0px 1px 5px #666;
          box-shadow: 0px 1px 5px #666;  
}

.log .logEntry div {
}

.log .logEntry div:first-child {
  text-align: center;
  float: left;
  width: 75px;
  margin-right: 10px;
  margin-left: 50px;
  border-radius: 15px;
  height: 20px;
  clear: both;
  text-transform: uppercase;
}

.log .logEntry div:last-child {
  height: 24px;
  padding-top: 3px;
  white-space: nowrap;
  font-family: "TextFont";
  font-size: 18px;
}

.log .newEntry div:first-child {
  color:            rgb(123, 190, 123);
  border: 2px solid rgb(123, 190, 123);
}

.log .changedEntry div:first-child {
  color :           rgb(236, 215, 57);
  border: 2px solid rgb(236, 215, 57);
}

.log .fixedEntry div:first-child {
  color:            rgb(219, 130, 130);
  border: 2px solid rgb(219, 130, 130);
}

.disabledTooltip{
  background-color: red;
  color: white;
}

/* ------------ ISSUES ------------ */

.issueNextVersion{
  text-align: center;
  margin-bottom: 10px;
  font-size: 22px;
}

.issueEntry {
  margin-left: 100px;
  margin-bottom: 18px;
}

.issueEntry .issueLabel{
  margin-bottom: 4px;
  font-size: 14px;
}

.issueEntry .issueTitle{
  font-size: 18px;
  font-family: "TextFont";
}

.issueEntry .issueTitle a {
  text-decoration: none;
  color: #000000;  
} 

.issueEntry .issueTitle a:visited {
  color: #000000;
} 

/* ------------ LEGALS ------------ */

.legalEntry{
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 18px;
  font-family: "TextFont";
}

.legalEntryHeader{
  font-size: 22px;
  color:            #36a0c5;
  margin-bottom: 4px;
}

.legalEntryHeader a {
  color:            #36a0c5;
  text-decoration: none;
}

.legalEntryHeader a:visited {
  color:            #36a0c5;
  text-decoration: none;
}

.legalEntryText p {
  font-size: 18px;
  margin:  0 0 5px 0;
  padding: 0;
}