.infoBox {
    border-style: solid;
    border-color: #666666;
    border-width: 3px;
    border-radius: 5px;
    margin-bottom: 16px;
    padding: 12px;
    -webkit-box-shadow: 0 8px 6px -6px #666;
    -moz-box-shadow: 0 8px 6px -6px #666;
    box-shadow: 0 8px 6px -6px #666;
}

.headerText{
    font-family: "Gill Sans";
    margin-bottom: 2px;
}

.headerText:first-letter {
    font-size: 2em;
}

.inner p {
    margin-left: 20px;
    margin-right: 20px;
}

.inner img {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    -webkit-box-shadow: 0px 2px 4px #666;
    -moz-box-shadow: 0px 2px 4px #666;
    box-shadow: 0px 2px 4px #666;
}

.rightBox {
    text-align: right;
}