#gamecanvas {
  background-color: blue;
  width: 320px;
  height: 240px;
}

#devOUT {
  background-color: gray;
  color: white;
  width: 100%;
  min-height: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: courier;
  font-size: 9pt;
}