* 
{
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

:focus { 
	outline: none; 
}

body
{
	overflow:hidden;
}

body,html,p
{
	margin:0;
	padding:0;
}

.detachedtInFront, .detachedInFront{
	position: absolute;
	z-index: 3;
}

.table_fixed{
	table-layout: fixed;
}

.table_center {
	margin-left: auto;
	margin-right: auto;
}

.table_collapse {
	border-collapse: collapse;
}

.table_collapse tr, 
.table_collapse td {
	margin: 0;
	padding: 0;
}

.floatLeft{
	float: left;
}

.semiAlpha{
	opacity: 0.95;
}