.gamePanel
{
	top:0;
	left:0;
	width:100%;
	height:100%;
	position:absolute;
}

#cwt_options_screen p,
#cwt_load_screen p,
#cwt_versus_screen p
{
	border:none;
	position:relative;
	height:100px;
	width:100%;
	left:0;
	text-align:center;
}

#cwt_canvas
{
	position:absolute;
	left:0;
	top:0;
}

#cwt_options_mapIn
{
	-webkit-touch-callout:initial;
	-webkit-user-select:initial;
	-khtml-user-select:initial;
	-moz-user-select:initial;
	-ms-user-select:initial;
	user-select:initial;
}

#cwt_options_screen table td:first-child
{
  text-align: right;
}

#cwt_options_screen table td:last-child
{
  text-align: left;
}