#cwt_menu_entries {
  padding: 0;
  margin: 0;
}

#cwt_menu_pageUp, 
#cwt_menu_pageDown, 
#cwt_menu_entries li {
  list-style: none;
  height: 25px;
}

#cwt_menu_pageUp, 
#cwt_menu_pageDown, 
#cwt_menu_entries li button {
  border: none;
  width: 100%;
  font-family: 'dosisbook';
  background: transparent;
  color: #3A3A3A;
  font-size: 14px;
  font-weight: bold;
}

#cwt_menu_pageUp, 
#cwt_menu_pageDown {
  background: #D3ECF6; 
  color: #ACACAC; 
}