/* ----------------------------- MISC ----------------------------- */

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  overflow: hidden;
}

body,html {
  margin: 0;
  padding: 0;
}

.borderradius( @size ){
  border-radius: @size;
  -moz-border-radius: @size;
  -webkit-border-radius: @size;
}

.boxshadow( @desc, @color ){
  -webkit-box-shadow: @desc @color;
  -moz-box-shadow: @desc @color;
  box-shadow: @desc @color;
}

.fullTransition( @sec ){
  -webkit-transition: all @sec;
  -moz-transition: all @sec;
  -ms-transition: all @sec;
  -o-transition: all @sec;
  transition: all @sec;
}
.fullTransitionEaseInOut( @sec ){
  -webkit-transition: all @sec ease-in-out;
  -moz-transition: all @sec ease-in-out;
  -ms-transition: all @sec ease-in-out;
  -o-transition: all @sec ease-in-out;
  transition: all @sec ease-in-out;
}

.scale( @num ){
  -webkit-transform: scale(@num, @num) !important;
  -moz-transform: scale(@num, @num);
  -ms-transform: scale(@num, @num);
  -o-transform: scale(@num, @num);
  transform: scale(@num, @num);
}

.gamePanel {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* ------------------------------- VARIABLES ----------------------------- */

@uiTopbarFont: Courier New;
@uiTopbarFontSize: 20px;
@uiTopbarFontWeight: bold;
@uiBottombarFont: Courier New;
@uiBottombarFontSize: 14px;
@uiBottombarFontWeight: bold;

@uiHighlightColor: #36A0C5;
@uiEnabledColor: rgb(24, 111, 223);
@uiDisabledColor: #e05454;
@uiHintColor: #6c6c6c;
@uiMenuColor: #6c6c6c;
@uiScreenEntryColor: rgb(252, 250, 209);

@uiBackgroundColor: rgb(235, 235, 235);
@uiScreenBgColor: rgb(60, 140, 160);
@uiDarkBorderColor: rgb(138, 138, 138);

@uiSmallBorder: 1px solid rgb(134, 134, 134);
@uiThickBorder: 1px solid rgb(128, 128, 128);
@uiHighlightedThickBorder: 2px solid @uiHighlightColor;

@uiIndexFront: 3;

@uiHeightTop: 22px;
@uiHeightBottom: 40px;

@uiMenuBorderRadius: 4px;

@uiMenuFont: Courier New;
@uiMenuFontSize: 14px;
@uiMenuFontSizeHint: 14px;
@uiMenuHeaderFontSize: @uiMenuFontSize+4;
@uiMenuFontWeight: bold;
@uiMenu_TransitionSpeed: 0.5s;

@uiGameScreenMenuHeightButtonFontSize: 32px;
@uiGameScreenMenuHeightButtonSelectedFontSize: 48px;
@uiGameScreenMenuHeight: 100px;
@uiGameScreenMenuHeightButton: 50px;
@uiGameScreenMenuHeightButtonSelected: 100px;
@uiGameScreenMenu_TransitionSpeed: 0.2s;

@uiGameScreenFont: Courier New;
@uiGameScreenFontSize: 64px;
@uiGameScreenFontSizeSmall: 32px;
@uiGameScreenFontWeigh: bold;

@canvasTransitionSpeed: 0.2s;

@iconbarSymbolWidth: 60px;

/* ----------------------------- FONTS & COLORS -------------------------- */

.screenBigFont(){
  font-size: 64px;
  font-weight: bold;
  font-family: Courier New;
  color: rgb(252, 250, 209);
}

/* ------------------------------- SCREENS-------------------------------- */

.gamePanel {
  background: @uiScreenBgColor;
}

#cwt_options_screen p, 
#cwt_load_screen    p, 
#cwt_versus_screen  p {
  
  color: @uiScreenEntryColor;  
  border: none;
  position: relative;
  height: @uiGameScreenMenuHeight;
  background: @uiScreenBgColor;
  font-size: @uiGameScreenFontSize;
  font-weight: @uiGameScreenFontWeigh;
  font-family: @uiGameScreenFont;
  color: @uiScreenEntryColor;
  height: @uiGameScreenMenuHeight;
  
  width: 100%;
  left: 0px;
  text-align: center;
  
  .fullTransition( @uiGameScreenMenu_TransitionSpeed );
}

.menuButton {
  color: @uiScreenEntryColor;  
  border: none;
  position: relative;
  background: @uiScreenBgColor;
  font-size: @uiGameScreenMenuHeightButtonFontSize;
  height: @uiGameScreenMenuHeightButton;
  font-weight: @uiGameScreenFontWeigh;
  font-family: @uiGameScreenFont;
  color: @uiScreenEntryColor;
  
  width: 100%;
  left: 0px;
  text-align: center;
  
  .fullTransition( @uiGameScreenMenu_TransitionSpeed );
  
  &.active {
    color: @uiEnabledColor !important;  
    font-size: @uiGameScreenMenuHeightButtonSelectedFontSize !important;
    height: @uiGameScreenMenuHeightButtonSelected !important;
  }
  
  &.inactive { 
    color: @uiDisabledColor !important;
    font-size: @uiGameScreenMenuHeightButtonSelectedFontSize !important;
    height: @uiGameScreenMenuHeightButtonSelected !important;
    text-decoration: line-through;
  }
}


/* ----------------------------- LOAD SCREEN ----------------------------- */

#logList {
  font-size: @uiGameScreenFontSizeSmall !important;
}

#cwt_mobileSound_screen {
  .menuButton {
    height: @uiGameScreenMenuHeight;
    font-size: @uiGameScreenFontSize;
  }
}

/* ----------------------------- MAIN SCREEN ------------------------------ */


/* ----------------------------- OPTIONS SCREEN --------------------------- */

#cwt_options_screen p {
  font-size: @uiGameScreenMenuHeightButtonFontSize;
  height: @uiGameScreenMenuHeightButton;
}

#cwt_options_mapIn {
  -webkit-touch-callout: initial;
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

/* ----------------------------- VERSUS SCREEN --------------------------- */

#cwt_versus_screen  p {
  font-size: @uiGameScreenMenuHeightButtonFontSize;
  height: @uiGameScreenMenuHeightButton;
}

/* ----------------------------- GAME SCREEN ----------------------------- */

#cwt_game_screen{
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8E8E8', endColorstr='#FBFBFB');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8E8E8', endColorstr='#FBFBFB')";
  background-image: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 50%, from(#FBFBFB), to(#E8E8E8));
  background-image: -webkit-radial-gradient(50% 100%, circle, #FBFBFB, #E8E8E8);
  background-image: -moz-radial-gradient(50% 100%, circle, #FBFBFB, #E8E8E8);
  background-image: -ms-radial-gradient(50% 100%, circle, #FBFBFB, #E8E8E8);
  background-image: -o-radial-gradient(50% 100%, circle, #FBFBFB, #E8E8E8);
  background-image: radial-gradient(50% 100%, circle, #FBFBFB, #E8E8E8);
}

.scale-1 { .scale(0.7); }
.scale0 {  .scale(0.8); }
.scale1  { .scale(1);   }
.scale2  { .scale(2);   }
.scale3  { .scale(3);   }
.scale4  { .scale(4);   }

#cwt_app {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0;
  padding: 0;
}

#cwt_game_canvas {
  display: block;
  position: fixed;
}

.uiPopup {
  
  z-index: 3;
  position: absolute;
  background-color: @uiBackgroundColor;
  border:           @uiThickBorder; 
  
  margin: 10px auto;
  text-align: center;
  
  .borderradius(@uiMenuBorderRadius); 
  .boxshadow(0px 0px 10px 1px,@uiDarkBorderColor);
  
  &.show{
    opacity: 1;
  }
  
  &.hide{
    opacity: 0;
    top: -99px !important;
  }
  
}

#cwt_info_box {
  left:  40%;
  left:  ~"calc(50% - 200px)";
  top:   35%;
  // top:   ~"calc(50% - 25px)";
  width:        400px;
  font-size:    @uiMenuFontSizeHint;
  font-family:  @uiMenuFont;
  font-weight:  @uiMenuFontWeight;
  color:        @uiHintColor;
  padding-bottom: 4px;
}

#cwt_info_box_header {
  padding-bottom: 5px;
  padding-top: 8px;
  margin-bottom: 6px;
  border-bottom: @uiHighlightedThickBorder;
  font-family: @uiMenuFont;
  font-weight: @uiMenuFontWeight;
  font-size: @uiMenuHeaderFontSize;
  color: @uiHighlightColor;
}

#cwt_menu {
  left:  40%;
  left:  ~"calc(50% - 150px)";
  top:              25%;
  max-height:       50%;
  width:            300px;
  padding-bottom: 4px;
  
  button {
    width: 100%;
    outline: none;
    text-align: center;
    border-style: none;
    background: transparent;
    font-size: @uiMenuFontSize !important;
  }
  
  ul .activeButton {
    background-color: #d3d3d3;
  }
  
  li { 
    height: @uiMenuFontSize+6; 
  }
}

#cwt_menu_header {
  padding-bottom: 5px;
  padding-top: 8px;
  margin-bottom: 6px;
  border-bottom: @uiHighlightedThickBorder;
  font-family: @uiMenuFont;
  font-weight: @uiMenuFontWeight;
  font-size: @uiMenuHeaderFontSize;
  color: @uiHighlightColor;
}

#cwt_menu_content {
  float: left;
  width: 100%;
}

#cwt_menu_entries {
  margin: 0; 
  padding: 0;
  list-style: none;
  overflow: hidden;
  height: 100%;
  
  button{
    color: @uiMenuColor;
    font-family: @uiMenuFont;
    font-weight: @uiMenuFontWeight;
    font-size: @uiMenuFontSize;
  }
}

#cwt_canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  .fullTransition( @canvasTransitionSpeed );
}

.smallFontBottomBar {
  font-size: 11px;
  font-weight: normal;
  width: @iconbarSymbolWidth;
  float: left;
  .fullTransition( @canvasTransitionSpeed );
}

.smallFontBottomBarMini {
  font-size: 11px;
  font-weight: normal;
  width: @iconbarSymbolWidth/3*2;
  float: left;
  .fullTransition( @canvasTransitionSpeed );
}

#cwt_game_bottomBar{
  
  .boxshadow( 0px 0px 2px 1px, rgb(138, 138, 138) );
  
  height: 48px;
  bottom: -1px;
  position: absolute;
  left: 0px;
  right: 0px;
  
  
  border-top: 1px solid rgb(134, 134, 134);
  display: block;
  position: fixed;
  
  top: auto;
  
  color: #36A0C5;
  
  text-align: left;
  
  div {
    margin: 0;
  }
  
  .row > div{
    float: left;
    width: ~"calc(25% - 5px)";
    width: ~"-webkit-calc(25% - 5px)";
    padding-left: 5px;
    height: 100%;
  }
  
  .headerRow {
    font-family: Courier New;
    height: 18px;
    font-size: 16px;
    font-weight: normal;
    background-color: rgb(235, 235, 235);
    border-bottom: 1px solid rgb(190, 189, 189);
    
    div {
      text-align: center;
      white-space: nowrap;
    }
    
    > div:first-child {
      text-align: left;
    }
    
    > div:last-child {
      text-align: right;
    }
  }
  
  .subRow {
    font-family: Courier New;
    font-weight: bold;
    height: 14px;
    font-size: 10px;
    background-color: rgb(240, 239, 239);
    
    div {
      text-align: center;
      padding-top: 1px;
    }
    
    > div:first-child {
      text-align: left;
    }
    
    > div:last-child {
      text-align: right;
    }
  }
  
  .oneRow {
    .iconDiv {
      width: 100%;
      float: left;
      text-align: center;
    }
  }
  
  .twoRow {
    .iconDiv {
      width: 50%;
      float: left;
    }
  }
  
  .iconDivFirst{ 
    text-align: right !important;
  }
  
  .iconDivSecond{ 
    text-align: left !important;
    
    canvas{
      padding-left: 4px;
    }
  }
}