body, html  {
    margin: 0;
    padding: 0;
}

.content_panel{
    min-width: 100%;

    overflow-y: auto;
    overflow-x: hidden;

    height: 94.2%;

    margin-top: -250%;

    position: absolute;
    background: #000;
    z-index: 2;

    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

.content_panel:target{
    margin-top: 0%;
    background-color: #ffcb00;
}

#app{
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;

    margin:0;
    padding:0;

    /*cursor: none; */
}

div.nav {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

div.nav{
    height: 6%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    width:100%;
    margin-bottom: 0px;
}

div.nav ul{
    list-style:none;
    background:#2d2d2d;
    margin:0;
    height: 100%;
    padding:0;
}

div.nav li{
    display:inline-block;
    float:left;
    height: 100%;
}

div.nav li:first-child{
    margin-left:5px;
}

div.nav a{
    display:block;
    padding:10px;
    text-decoration:none;
    color:#bbbbbb;
    border-top:2px solid transparent;
}

div.nav a:hover,
div.nav li.active a{
    background:#3d3d3d;
    height: 100%;
    color:#dddddd;
    border-top:2px solid #ff4800;
}

.clearFloat{
    clear:both;
}

#menu {
    z-index: 2;
    position: absolute;
    left: 64px;
    top: 0px;
    background-color: gray;
    display: none;
    -webkit-box-shadow: 2px 2px 15px #000000;
    -moz-box-shadow: 2px 2px 15px #000000;
    box-shadow: 2px 2px 15px #000000;
}

#menu .cwtwc_menu {
    margin:0;
    padding:0;
    list-style:none;
}

#menu li {
    margin-top: 1px;
    margin-bottom: 1px;
}

#menu button {
    width: 200px;
    height: 32px;
    border-style: none;
    background-color: gray;
}

#menu button:hover {
    background-color: #d3d3d3;
    border-bottom-style: solid;
    border-bottom-color: #ffffff;
    border-top-style: solid;
    border-top-color: #ffffff;
}